
h1 {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 150px;
  height: 100px;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
  
}
#resetButton{
font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 50px;
  height: 80px;
  width: 300px;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  border-radius: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  
	
}

.blank {
	background-color: transparent;
	height: 90px;
	width: 90px;
	margin-bottom: 7px;
	border-radius: 100%;
	}


div .columns  {
	background-color: transparent;
	height: 600px;
	width: 110px;
	margin: 0 auto;
	float: left;
	}

.red {
	background-color: red;
	height: 90px;
	width: 90px;
	margin-bottom: 7px;
	border-radius: 100%;
	opacity: .6;
	}
.black {
	background-color: black;
	height: 90px;
	width: 90px;
	margin-bottom: 7px;
	border-radius: 100%;
	opacity: .6
	}
body{
	background-color: gray;
	opacity: 

	}

